.vscode
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Boxophobic.Utils.Editor.csproj
Boxophobic.Utils.Scripts.csproj
The First RPG.sln

Packages
UserSettings
Logs
Library
Temp
Boxophobic.SkyboxCubemapExtended.Editor.csproj